.patient_authorization.patient_color
  -##Главная навигация медсестры
  .container
    .row
      .col-xs-12.col-md-12
        %section.select_user
          %nav
            %ul.nav.nav-pills
              %li.active.patients
                %a{}
                  %span Пациентам
              %li.doctors
                %a{}
                  %span Врачам и медработникам

    -#Форма авторизации для пациента
    .row
      .col-xs-12.col-md-5
        .patient_form
          %section.authorization
            %form{role: 'form'}
              %h1.header Персональная история госпитализации
              .form-group
                %label{for: "login"}
                  Для входа или регистрации введите адресс электронной почты
                .row
                  .col-xs-11.col-md-11
                    %div{style: 'display: -webkit-flex'}
                      %input.form-control#login{type: 'text', placeholder: 'test@gmail.com'}
                      = button_to 'Далее', patient_login_path, class: 'btn btn-primary'
                %p demo: test@gmail.com

    -#Форма авторизации для медсестры и врача
    .row
      .col-md-5
        .doctor_form.hidden
          %section.authorization
            %form{role: 'form'}
              %h1.header Личный рабочий кабинет
              .form-group
                .row
                  .col-xs-11.col-md-11
                    #label{for: 'login'} Логин
                    %input.form-control#login{type: 'text', placeholder: 'aseleznov'}
                    #label{for: 'password'} Пароль
                    %input.form-control#password{type: 'password', placeholder: 'testdoctor'}
                    %p demo doctor: aseleznov testdoctor
                    %p demo nurse: mkuzmenko testnurse
                    = button_to 'Войти', otdelenie_login_path, class: 'btn btn-primary'
