.public_profile
  .status
    .container
      .row
        .col-xs-12.col-md-12
          %section
            %h2= "Публичная информация пациента <strong>#{@user.name}</strong>".html_safe
            .status_description
              %span.label.label-success
                Состояние стабильное

  .hospitalization
    .container
      .row
        .col-xs-12.col-md-12
      %section
        .current_hospitalization
          %header
            %h3
              Госпитализирован 13 декабря
            %span 3 дня назад
          .hospital{style: 'margin-top: 10px;'}
            %a{href: '#'} Октябрьская клиническая больница
            %a{href: '#'} Хирургическое отделение № 2
          .diagnose
            Диагноз при госпитализации: поперечный миелит


  .doctors
    .container
      .row
        .col-xs-12.col-md-12
      %section
        .current_hospitalization
          %header
            %h3
              Медицинский персонал
          %div{style: 'display: -webkit-flex; margin-top: 10px;'}
            .doctor{style: 'margin-right: 30px;'}
              %a{href: '#'} Петренко А
              %div Лечащий врач
              %div +38093 324-34-23
            .doctor{style: 'margin-right: 30px;'}
              %a{href: '#'} Семенова В
              %div Дежурная медсестра
              %div +38093 324-34-23
            .doctor
              %a{href: '#'} Автандил К
              %div Дежурный хирург
              %div +38093 324-34-23

.hospitalization
  .container
    .row
      .col-xs-12.col-md-12
    %section
      .current_medicine
        %header{style: 'margin-bottom: 10px;'}
          %h3
            Список необходимых лекарств и диагностических процедур
        .medicine{style: 'margin-bottom: 5px;'}
          .row
            .col-xs-2.col-md-2
              %div
                %a{href: '#'} Реосорбент 200мл
            .col-xs-6.col-md-1
              %div
                14 грн/шт
            .col-xs-6.col-md-1
              %div
                3 шт.
        .medicine{style: 'margin-bottom: 5px;'}
          .row
            .col-xs-2.col-md-2
              %div
                %a{href: '#'} Глюкоза 400мл
            .col-xs-6.col-md-1
              %div
                20 грн/шт
            .col-xs-6.col-md-1
              %div
                3 шт.
        .medicine{style: 'margin-bottom: 5px;'}
          .row
            .col-xs-2.col-md-2
              %div
                %a{href: '#'} Система
            .col-xs-6.col-md-1
              %div
                5 грн/шт
            .col-xs-6.col-md-1
              %div
                3 шт.
