/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap";

.navbar {
  border-radius: 0px !important;
}


.navbar-default {
  background-color: rgba(white,0);
  border-color: rgba(white,0);
}



h1, h2, h3, h4 {
  margin: 0 0;
}


.hidden {
  display: none;
}


.link_index {
  a{
    cursor: pointer;
    color: #444;
    font-size: 17pt;
    border-bottom: 1px rgba(#444, 0.2) solid;
    text-decoration: none;

    &:hover{
      color: darkred;
      border-bottom: 1px rgba(darkred, 0.2) solid;
    }
  }
}


.link_show {
  a{
    cursor: pointer;
    color: #444;
    font-size: 13pt;
    border-bottom: 1px rgba(#444, 0.2) solid;
    text-decoration: none;

    &:hover{
      color: darkred;
      border-bottom: 1px rgba(darkred, 0.2) solid;
    }
  }
}
