.main_nurse_page

  .day_raspisanie
    .container
      .row
        .col-xs-12.col-md-12
          %section
            %header
              %a{href: '#'} Расписание дня
            %item
              8:00 - 10:00 Проветривание палат
  .gradient
    .container
      .row
        .col-xs-12.col-md-12
          %section.patient_navigation
            %nav
              %ul.nav.nav-pills
                %li.active
                  %a{}
                    %span Госпитализация
                %li
                  =link_to nurse_patients_path do
                    %span Пациенты
                %li
                  =link_to nurse_documentation_path do
                    %span Документация

    .hospitalisation
      .container
        .row
          .col-xs-12.col-md-6
            %section.hosp_form
              %header
                %h3 Госпитализация больного
              %form
                .patient_phone
                  .field
                    %label Имейл
                    %input{type: 'text', placeholder: ''}
                .patient_inic
                  .field
                    %label Имя Отчество
                    %input{type: 'text'}
                .patient_vozrast
                  .field
                    %label Полных лет
                    %nav
                      %ul.nav.nav-pills
                        %li
                          %a{}
                            %span 18 - 25
                        %li
                          %a{}
                            %span 26 - 35
                        %li.active
                          %a{}
                            %span 36 - 60
                        %li
                          %a{}
                            %span от 60
                    %input.hidden{type: 'text'}
                .patient_palata
                  .field
                    %label Номер палаты
                    %nav
                      %ul.nav.nav-pills
                        %li
                          %a{}
                            %span 1
                        %li.active{title: 'интенсивной терапии'}
                          %a{}
                            %span
                              .palata_number
                                2

                        %li
                          %a{}
                            %span 3
                        %li
                          %a{}
                            %span 4
                    %input.hidden{type: 'text'}
                .patient_doctor
                  .field
                    %label Лечащий врач
                    %nav
                      %ul.nav.nav-pills
                        %li.active
                          %a{}
                            %span Веревкин
                        %li
                          %a{}
                            %span Копылова
                        %li
                          %a{}
                            %span Иванов
                        %li
                          %a{}
                            %span Петров
                    %input.hidden{type: 'text'}
                .patient_diagnos
                  .field
                    %label Диагноз при госпитализации
                    %input{type: 'text'}
                .action
                  .field
                    .patient_add
                      = button_to 'Госпитализировать', nil, class: 'btn btn-primary'
          .col-xs-12.col-md-6
            %section
              %header
                %h4
                  %a{} Журнал госпитализаций


    %div{style: 'margin-top: 0px; margin-left: 0px;'}
      .container
        .row
          .col-xs-12.col-md-12
            .documents
              .document{style: 'display: -webkit-flex;'}
                .document_icon
                  =image_tag 'pdf-icon.png', size: '20x20'
                %div{style: 'position: relative; top: 2px; margin-left: 5px;'}
                  .document_name
                    %a{href: 'https://www.dropbox.com/s/xfqqcfro4unrvvc/forma%20003_o.pdf'}
                      Медицинская карта стационарного больного
                  .document_type
                    Форма первичной учетной документации № 003/о
                  .document_size
                    (PDF, 685 КБ)